/* only used by d3 */

body {    
    font-family: Helvetica;
    margin: 0;
}

h1 {    
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-weight: normal;
}

#header {
    background-color:#a5d6a7;
    padding: 0.3em;
    display: flow-root;
    border-bottom: 1px solid #eaeaea;
}

#slide {
    letter-spacing: 0.07em;    
    vertical-align: -webkit-baseline-middle;
}

button {
    vertical-align: -webkit-baseline-middle;
}

#slideName {
    vertical-align: -webkit-baseline-middle;
}

#config {
    float:right;
}

#selectCaption {
    font-size: .7em;
    word-spacing:4.5em;
}

#ivis-canvas-div {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

/*--------------------------------------------------------------------------------------- */

.unitDiscBg {
    fill: #f9fbe7;
    stroke: #eef4be;
    stroke-width: .005;
}

/*--------------------------------------------------------------------------------------- */
/* svg only in pixel? :( */

.node {
}

.node > circle {
    fill: #a5d6a7;
    stroke: #888;
    stroke-width: .005;
}

.node > text {
    font-size: 0.05pt;
    dominant-baseline: middle;
    pointer-events: none;
}

.link {
    stroke: #ccc;
    stroke-width: .005;
    pointer-events: none;
}

.arc {
    stroke: #ccc;
    stroke-width: .005;
    fill: none;
    pointer-events: none;
}

.unitDiscParam .node > circle {
    fill: #BBDEFB;
}

.unitDiscParam .node > text {
    text-anchor: middle;
    font-size: .17pt;
}

.unitDiscParamBg .link {
    stroke-width: .02;
}

.unitDiscParamBg .arc {
    stroke-width: .02;
}


