/* only used by d3 */

body {
    text-align: center;
}

h1 {
    font-family: 'Segoe UI',Arial,sans-serif;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-weight: normal;
}

#ivis-canvas-div {
    margin-top: 40px;    
}

.unitDiscBg {
    fill: #f9fbe7;
}

.node {
}

.node > circle {
    fill: #90caf9;
    fill-opacity: .8;
    stroke: #777;
    pointer-events: none;
}

.node > text {
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 13px;
    fill: #444;
}

.link {
    stroke: gray;
    pointer-events: none;
}
