.node {
    fill: #a5d6a7;
    stroke: #5eb561; /* #a1887f; */
    stroke-width: .003;
}

.cell {
    stroke: #e5e5e5; /*#b8b8b8;///#daeccf; #d7ccc8; */
    stroke-width: 0.001;
    pointer-events:visible;
}

.caption {
    text-transform: uppercase;
    font-size: 0.025pt;
    dominant-baseline: middle;
    pointer-events: none;
    user-select: none;
    cursor: default;
    letter-spacing: 0.11em;

    paint-order:stroke;
    stroke: #fff;
    stroke-width: .006;    
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.arc {
    stroke: #bcaaa4; /*#ddd; #b8b8b8;///#daeccf; #d7ccc8; */
    fill: none;
    pointer-events: none;
}

.background-circle {
    fill: #fefefb; //#f9fbe7;
    stroke: #cbde3b; //#eef4be;
    stroke-width: .001;
}

.nav-parameter-disc .node {
    fill: #BBDEFB;
    stroke-width: .017;
    stroke: #90caf9;
}

.nav-parameter-disc .node:hover {
    fill: #90caf9;
    stroke: #64b5f6; //#1565C0; /* #a1887f; */
}

.nav-parameter-disc .cell {
    stroke: #ccc; /*#b8b8b8;///#daeccf; #d7ccc8; */
    stroke-width: .002;
    fill: none;
    pointer-events:none;
    stroke-width: .0;
}

.nav-parameter-disc .caption {
    text-transform: none;
    text-anchor: middle;
    font-size: .2pt;
    stroke-width: .04;
    stroke-opacity: .6;
}

.nav-background-disc .arc {
    stroke-width: .02;
}






