svg {
    filter:drop-shadow(2px 2px 4px rgba(0,0,0,0.25))
}

.node {
    fill: #a5d6a7;
    stroke: #5eb561;
    stroke-width: .003;    
    pointer-events:none;
}

.cell {
    stroke:#eaeaea;
    stroke-width: 0.001;
    pointer-events:none;
}

.caption {
    text-transform: uppercase;
    font-size: 0.025pt;
    dominant-baseline: middle;    
    user-select: none;
    cursor: default;
    letter-spacing: 0.11em;
    pointer-events: none;

    text-rendering: optimizeSpeed;

    paint-order:stroke;
    stroke: #fff;
    stroke-width: .006;    
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.arc {
    stroke: #8d6e63;
    fill: none;
    pointer-events: none;
}

.background-circle {    
    fill: #fff;
    pointer-events:visibleFill;    
}

/*-----------------------------------------------------------------------------------------*/

.nav-parameter-disc .node {
    fill: #BBDEFB;
    stroke-width: .017;
    stroke: #90caf9;    
}

.nav-parameter-disc .node:hover {
    fill: #90caf9;
    stroke: #64b5f6; //#1565C0; /* #a1887f; */
}

.nav-parameter-disc .cell {
    stroke: none;
    fill: none;
}

.nav-parameter-disc .caption {
    text-transform: none;
    text-anchor: middle;
    font-size: .2pt;
    stroke-width: .04;
    stroke-opacity:.6;
}

.nav-parameter-disc .background-circle {
    pointer-events:all;
    fill: none;
}

/*-----------------------------------------------------------------------------------------*/

#plexxDbg {
    position: absolute;
    bottom:0;
    right: 0;
}




