body {    
    font-family: Helvetica;
    margin: 0;
    overflow:hidden;
}

#header {
    background-color:#96ca98;
    padding: 0.3em 0.8em 0.3em 0.3em;
    display: flow-root;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.18);
    padding-top:10px;
    height:3.45em;
}

#slideName {
    vertical-align: middle;
    font-weight: bold;
}

#slide {
    float: left;
    margin-right: 4em;
}

#configline {
    float:right;
    display:flex;
    margin-left: .3em;
}

.config {
    float:right;
    margin:0 1em;
    width:8em;
}

#userfile {
    width:14em;
    width: 6.5em;
}

select {
    height: 1.6em;
}

#hypertree {
    height: calc(100vh - 2.5em);
    display: inline;
}

.split {
    width:50%;
    float:left;
}

.wiki {
    width:100%;
    height:calc(100vh - 10px);
    border:none;
    //overflow-y: hidden;
}


