body {    
    font-family: Helvetica;
    margin: 0;
    //background: #fdfbfe;
}

h1 {    
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-weight: normal;
}

#header {
    background-color:#96ca98;
    padding: 0.3em 0.8em 0.3em 0.3em;
    display: flow-root;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.18);
    padding-top:10px;
    height:2.3em;
}

#slide {
    letter-spacing: 0.07em;    
    vertical-align: -webkit-baseline-middle;
}

button {
    vertical-align: -webkit-baseline-middle;
    font-size:1em;
    width: 3em;
    height: 2em;
}

#slideName {
    vertical-align: -webkit-baseline-middle;
    display:none;
}

#slide {
    float: left;
    margin-right: 4em;
}

#config {
    float:right;
    margin-left: .3em;
}

.selectCaption {
    font-size: .7em;
    margin-left: .1em;
}

#userfile {
    width:14em;
    width: 6.5em;
}

select {
    height: 1.6em;
}

#ivis-canvas-div {
    margin-top: 2em;
}

.split {
    width:50%;
    float:left;
}

.wiki {
    width:100%;
    height:calc(100vh - 10px);
    //margin-top: 10px;
    //margin-left: 80px;
    //margin-right: 80px;
    border:none;
    //overflow-y: hidden;
}

/*--------------------------------------------------------------------------------------- */



